<div id="edit">
  <div class="edit-area">
    <%= simple_form_for resource, as: resource_name, url: user_registration_path, method: :patch do |f| %>
      <%= f.error_notification %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-inputs">


        <div class="circle-container" data-controller="upload">
          <div class="circle" data-upload-target="circle">
            <%= f.file_field :photo, accept: 'image/*', class: 'upload-input', data: { action: 'change->upload#handleFileChange' }%>
            <i class="fas fa-upload upload-icon"></i>
          </div>
        </div>
        <div class="group">
          <%= f.input :email,
            required: true, autofocus: true,
            input_html: { autocomplete: "email"},
            wrapper_html: { class: "inline" }
          %>

          <%= f.input :first_name,
                              required: true,
                              autofocus: true,
                              input_html: { autocomplete: "First name" },
                              wrapper_html: { class: "inline" } %>
          <%= f.input :last_name,
                              required: true,
                              autofocus: true,
                              input_html: { autocomplete: "last name" },
                              wrapper_html: { class: "inline" } %>
          <%= f.input :bio,
                              required: false,
                              autofocus: true,
                              input_html: { autocomplete: "bio" },
                              wrapper_html: { class: "inline" }%>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>


        </div>
      </div>

      <div class="form-actions">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>
