<div id="navbar">
  <header >
    <%= link_to root_path do %>
      <%= image_tag "logo.png", class: "logo", alt: "the logo of n9asro" %>
    <% end %>
    <nav>

    </nav>
    <%# if user signed_in %>
    <% if user_signed_in? %>
      <%# <a href="#" class="cta"><button>Create Game</button></a> %>
      <ul class="profile_link">
        <li>
        <a href="" class="avatar">
            <%= cl_image_tag current_user.photo.key, class: "avatar" %>
          <%#  %>
        </a>
            <div class="sub-menu">
              <ul class="nav_links">
                <li><%= link_to "Profile", user_path(current_user)%></li>
                <li><%= link_to "Edit Profile", edit_user_registration_path%></li>
                <li><%= button_to "Logout", destroy_user_session_path, method: :delete, class: "logout" %></li>
              </ul>
            </div>
        </li>
      </ul>
    <% else %>

      <%= link_to new_user_session_path, class: "cta" do %>
        <button>Sign in</button>
        <button class="log_in_btn">Log in</button>
      <% end %>
    <% end %>

  </header>
</div>
