




<div id="create_match">
  <div data-controller="matches" >

    <%= simple_form_for @match do |f| %>





          <%= f.label :title %>
          <%= f.text_field :title, error: false  %>
          <%= f.error :title, class: "error" %>


          <%= f.label :description %>
          <%= f.text_area :description, error: false %>
          <%= f.error :description, class: "error" %>

          <%= f.input :date,
                      as: :string,
                      input_html: { data: { controller: "datepicker" } }

          %>
          <%= f.error :date, class: "error" %>




          <%# for terrains %>

            <label for="match_address">Terrain address</label>
            <select id="match_address" name="address" data-action="change->matches#loadTerrainNames" data-target="matches.address">
              <% @terrainAddress.uniq.each do |address| %>
                <option value="<%= address %>"><%= address %></option>
              <% end %>
            </select>
            <%= f.error :address, class: "error" %>



            <label for="match_name">Terrain name</label>
              <select id="match_name" name="terrain" data-target="matches.name">
            <%= f.error :terrain, class: "error" %>



          </select>


            <%= f.submit %>
      </div>


    <% end %>
  </div>

</div>
