








<div data-controller="matches">

  <%= simple_form_for @match do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :description %>
    <%= f.text_area :description%>

    <%= f.label :date %>
    <%= f.input :date,
                as: :string,
                input_html: { data: { controller: "datepicker" } }
    %>


    <%# for terrains %>

    <label for="match_address">Address</label>
    <select id="match_address" name="address" data-action="change->matches#loadTerrainNames" data-target="matches.address">
      <% @terrainAddress.uniq.each do |address| %>
        <option value="<%= address %>"><%= address %></option>
      <% end %>
    </select>


    <label for="match_name">name</label>
      <select id="match_name" name="terrain" data-target="matches.name">

    </select>



    <%= f.submit %>
  <% end %>
</div>
