<!DOCTYPE html>
<html>
  <head>
    <title>N9esro</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">




    <%= javascript_importmap_tags %>
  </head>

  <body >
    <% unless controller.is_a?(Devise::SessionsController) && action_name == 'new' || controller.is_a?(RegistrationsController) && action_name == 'complete_information'%>
      <%= render "shared/navbar" %>
    <% end %>

      <div class="container">
        <%= yield %>

      </div>
       <div class="mx-auto p-5">
        <% if flash[:notice] %>
          <div class="flash flash-success alert alert-dismissible fade show" role="alert" style = "background-color: #202c2b;">
          <span style="color:white;"><%= flash[:notice] %></span>
          <a data-bs-dismiss="alert" aria-label="Close" style="color:white;">
            <i class="fas fa-times"></i>
          </a>
        <% end %>
        </div>
      </div>
  </body>
</html>
